<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VHS Record</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-deep_purple.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="/assets/vhs_record.js"></script>
    <style>
      .my-cell {
        padding: 8pt;
      }
      .monitor-image {
        width: 100%;
        aspect-ratio: 640 / 480;
      }
    </style>
  </head>
<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">VHS Record</span>
      </div>
    </header>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--9-col mdl-cell--stretch mdl-shadow--2dp my-cell">
          <img id="monitor" class="monitor-image">
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--stretch mdl-shadow--2dp my-cell">
          <h3>Settings</h3>
          <h5>Filename</h5>
          <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="filename" value="{{ filename }}">
            <label class="mdl-textfield__label" for="filename">Finding Nemo (2003).mp4</label>
          </div>
          <h5>Controls</h5>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="record_button">
            <i class="material-icons">play_arrow</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" id="stop_button" disabled>
            <i class="material-icons">stop</i>
          </button>
          <h5>Automatic Stop</h5>
          <h6>Filter</h6>
          <input class="mdl-slider mdl-js-slider" type="range" min="0" max="150" value="{{ 10 * settings.filter_level}}" tabindex="0" id="filter_level">
          {% for label in labels %}
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="{{ label }}_enable">
              <input type="checkbox" id="{{ label }}_enable" class="mdl-switch__input" {% if settings[label + "_enable"] %}checked{% endif %}>
              <span class="mdl-switch__label">{{ label | capitalize }} {% if label != "noise" %}Screen{% endif %}</span>
            </label>
            <input class="mdl-slider mdl-js-slider" type="range" min="0" max="100" value="{{ 100 * settings[label + '_level'] }}" tabindex="0" id="{{ label }}_level" {% if not settings[label + "_enable"] %}disabled{% endif %}>
          {% endfor %}
        </div>
      </div>
    </main>
  </div>
  <div id="notification" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>
</body>
